USE [IDGS10]
GO
/****** Object:  User [IDGS10]    Script Date: 28/11/2022 09:06:56 p. m. ******/
CREATE USER [IDGS10] FOR LOGIN [IDGS10] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IDGS10]
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[FECHAHORA] [datetime] NULL,
	[ACTIVO] [int] NULL,
	[USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NULL,
	[NUMERO_EMPLEADO] [int] NULL,
	[FECHA_INGRESO] [datetime] NULL,
	[FECHA_EGRESO] [datetime] NULL,
	[ID_DEPARTAMENTO] [int] NULL,
	[FECHAHORA] [datetime] NULL,
	[ACTIVO] [int] NULL,
	[USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILES]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[FECHAHORA] [datetime] NULL,
	[ACTIVO] [int] NULL,
	[USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[AP_PATERNO] [nvarchar](50) NULL,
	[AP_MATERNO] [nvarchar](50) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[CURP] [nvarchar](18) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](15) NULL,
	[CELULAR] [nvarchar](15) NULL,
	[FECHAHORA] [datetime] NULL,
	[ACTIVO] [int] NULL,
	[USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[ID_PERSONA] [int] NULL,
	[ID_PERFIL] [int] NULL,
	[FECHAHORA] [datetime] NULL,
	[ACTIVO] [int] NULL,
	[USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spDepartamenetosSelect]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDepartamenetosSelect]
@ACTIVO INT
AS
BEGIN
	SELECT * FROM DEPARTAMENTOS WHERE ACTIVO=@ACTIVO;
END
GO
/****** Object:  StoredProcedure [dbo].[spDepartamentosDelete]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDepartamentosDelete]
@ID INT
AS
BEGIN
	DELETE FROM DEPARTAMENTOS WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spDepartamentosInsert]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDepartamentosInsert]
@NOMBRE NVARCHAR(50),
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	INSERT INTO DEPARTAMENTOS(NOMBRE,FECHAHORA,ACTIVO,USUARIO)
	VALUES(@NOMBRE,GETDATE(),@ACTIVO,@USUARIO);
	
	SELECT MAX(ID) AS ID_DEPARTAMENTO FROM DEPARTAMENTOS;
END
GO
/****** Object:  StoredProcedure [dbo].[spDepartamentosUpdate]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDepartamentosUpdate]
@ID INT,
@NOMBRE NVARCHAR(50),
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	UPDATE DEPARTAMENTOS SET
		NOMBRE=@NOMBRE,
		FECHAHORA=GETDATE(),
		ACTIVO=@ACTIVO,
		USUARIO=@USUARIO
	WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmpleadosDelete]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmpleadosDelete]
@ID INT
AS
BEGIN
	DELETE FROM EMPLEADOS WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmpleadosInsert]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmpleadosInsert]
@ID_PERSONA INT,
@NUMERO_EMPLEADO INT,
@FECHA_INGRESO DATETIME,
@FECHA_EGRESO DATETIME,
@ID_DEPARTAMENTO INT,
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	INSERT INTO EMPLEADOS(ID_PERSONA,NUMERO_EMPLEADO,FECHA_INGRESO,FECHA_EGRESO,ID_DEPARTAMENTO,FECHAHORA,ACTIVO,USUARIO)
	VALUES(@ID_PERSONA,@NUMERO_EMPLEADO,@FECHA_INGRESO,@FECHA_EGRESO,@ID_DEPARTAMENTO,GETDATE(),@ACTIVO,@USUARIO);
	
	SELECT MAX(ID) AS ID_EMPLEADOS FROM EMPLEADOS;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmpleadosSelect]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEmpleadosSelect]
@ACTIVO INT
AS
BEGIN
	SELECT * FROM EMPLEADOS WHERE ACTIVO=@ACTIVO;
END
GO
/****** Object:  StoredProcedure [dbo].[spEmpleadosUpdate]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEmpleadosUpdate]
@ID INT,
@ID_PERSONA INT,
@NUMERO_EMPLEADO INT,
@FECHA_INGRESO DATETIME,
@FECHA_EGRESO DATETIME,
@ID_DEPARTAMENTO INT,
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	UPDATE EMPLEADOS SET
		ID_PERSONA = @ID_PERSONA,
		NUMERO_EMPLEADO=@NUMERO_EMPLEADO,
		FECHA_INGRESO=@FECHA_INGRESO,
		FECHA_EGRESO=@FECHA_EGRESO,
		ID_DEPARTAMENTO=@ID_DEPARTAMENTO,
		ACTIVO=@ACTIVO,
		USUARIO=@USUARIO
	WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spPerfilesDelete]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPerfilesDelete]
@ID INT
AS
BEGIN
	DELETE FROM PERFILES WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spPerfilesInsert]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPerfilesInsert]
@NOMBRE NVARCHAR(50),
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	INSERT INTO PERFILES(NOMBRE,FECHAHORA,ACTIVO,USUARIO)
	VALUES(@NOMBRE,GETDATE(),@ACTIVO,@USUARIO);
	
	SELECT MAX(ID) AS ID_PERFILES FROM PERFILES;
END
GO
/****** Object:  StoredProcedure [dbo].[spPerfilesSelect]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPerfilesSelect]
@ACTIVO INT
AS
BEGIN
	SELECT * FROM PERFILES WHERE ACTIVO=@ACTIVO;
END
GO
/****** Object:  StoredProcedure [dbo].[spPerfilesUpdate]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPerfilesUpdate]
@ID INT,
@NOMBRE NVARCHAR(50),
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	UPDATE PERFILES SET
		NOMBRE=@NOMBRE,
		ACTIVO=@ACTIVO,
		USUARIO=@USUARIO
	WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spPersonasDelete]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPersonasDelete]
@ID INT
AS
BEGIN
	DELETE FROM PERSONAS WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spPersonasInsert]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPersonasInsert]
@NOMBRE NVARCHAR(50),
@AP_PATERNO NVARCHAR(50),
@AP_MATERNO NVARCHAR(50),
@FECHA_NACIMIENTO DATETIME,
@CURP NVARCHAR(18),
@EMAIL NVARCHAR(50),
@TELEFONO INT,
@CELULAR INT,
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	INSERT INTO PERSONAS(NOMBRE,AP_PATERNO,AP_MATERNO,FECHA_NACIMIENTO,CURP,EMAIL,TELEFONO,CELULAR,FECHAHORA,ACTIVO,USUARIO)
	VALUES(@NOMBRE,@AP_PATERNO,@AP_MATERNO,@FECHA_NACIMIENTO,@CURP,@EMAIL,@TELEFONO,@CELULAR,GETDATE(),@ACTIVO,@USUARIO);
	
	SELECT MAX(ID) AS ID_PERSONAS FROM PERSONAS;
END
GO
/****** Object:  StoredProcedure [dbo].[spPersonasSelect]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPersonasSelect]
@ACTIVO INT
AS
BEGIN
	SELECT * FROM PERSONAS WHERE ACTIVO=@ACTIVO;
END
GO
/****** Object:  StoredProcedure [dbo].[spPersonasUpdate]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPersonasUpdate]
@ID INT,
@NOMBRE NVARCHAR(50),
@AP_PATERNO NVARCHAR(50),
@AP_MATERNO NVARCHAR(50),
@FECHA_NACIMIENTO DATETIME,
@CURP NVARCHAR(18),
@EMAIL NVARCHAR(50),
@TELEFONO INT,
@CELULAR INT,
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	UPDATE PERSONAS SET
		Nombre=@NOMBRE,
		AP_PATERNO=@AP_PATERNO,
		AP_MATERNO=@AP_MATERNO,
		FECHA_NACIMIENTO=@FECHA_NACIMIENTO,
		CURP=@CURP,
		EMAIL=@EMAIL,
		TELEFONO=@TELEFONO,
		CELULAR=@CELULAR,
		ACTIVO=@ACTIVO,
		USUARIO=@USUARIO 
	WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsuariosDelete]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuariosDelete]
@ID INT
AS
BEGIN
	DELETE FROM USUARIOS WHERE ID=@ID;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsuariosInsert]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUsuariosInsert]
@NOMBRE NVARCHAR(50),
@PASSWORD NVARCHAR(50),
@ID_PERSONA INT,
@ID_PERFIL INT,
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	INSERT INTO USUARIOS(NOMBRE,PASSWORD,ID_PERSONA,ID_PERFIL,FECHAHORA,ACTIVO,USUARIO)
	VALUES(@NOMBRE,@PASSWORD,@ID_PERSONA,@ID_PERFIL,GETDATE(),@ACTIVO,@USUARIO);
	
	SELECT MAX(ID) AS ID_USUARIO FROM USUARIOS;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsuariosSelect]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUsuariosSelect]
@ACTIVO INT
AS
BEGIN
	SELECT * FROM USUARIOS WHERE ACTIVO=@ACTIVO;
END
GO
/****** Object:  StoredProcedure [dbo].[spUsuariosUpdate]    Script Date: 28/11/2022 09:06:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUsuariosUpdate]
@ID INT,
@NOMBRE NVARCHAR(50),
@PASSWORD NVARCHAR(50),
@ID_PERSONA INT,
@ID_PERFIL INT,
@ACTIVO INT,
@USUARIO INT
AS
BEGIN
	UPDATE USUARIOS SET
		NOMBRE=@NOMBRE,
		PASSWORD=@PASSWORD,
		ID_PERSONA=@ID_PERSONA,
		ID_PERFIL=@ID_PERFIL,
		ACTIVO=@ACTIVO,
		USUARIO=@USUARIO
	WHERE ID=@ID;
END
GO
